.settting
/.htaccess
.idea/
*.svn
/administrator/cache/*
/administrator/components/*
/administrator/help/*
/administrator/includes/*
/administrator/logs/*
/administrator/manifests/*
/administrator/modules/*
!/administrator/templates/isis/
/administrator/templates/hathor/*
/administrator/templates/system/*
/administrator/index.php
/administrator/language/en-GB/*
/administrator/language/fr-FR/*
/administrator/language/vi-VN/*
/cache/*
/bin/*
/components/*
/components/index.html
/images/*
/includes/*
/installation/*
/libraries/*
/media/*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist
modules/*
layouts/*
logs/
log/
language/en-GB/*
language/fr-FR/*
language/vi-VN/*
/plugins/*
/api/vendor
/min/vendor/api
!/administrator/components/com_bookpro/
!/administrator/components/com_jbackend/
!/language/en-GB/en-GB.com_bookpro.ini
!/language/fr-FR/vi-VN.com_bookpro.ini
!/language/vi-VN/vi-VN.com_bookpro.ini
!/administrator/language/en-GB/en-GB.com_bookpro.ini
!/administrator/language/fr-FR/en-GB.com_bookpro.ini
!/administrator/language/vi-VN/en-GB.com_bookpro.ini
!/templates/12trip
!/components/com_bookpro/
!/components/com_jbdebug/
!/components/com_jbackend/
!modules/mod_jbaccount
!modules/mod_jbnavigation
!modules/mod_jbvoucher_list
!modules/mod_languages
!/plugins/bookpro
!/plugins/jbackend
.buildpath
.project
